@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff2") format('woff2'),
         url("../fonts/cuprum.woff") format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format('woff2'),
       url("../fonts/cuprumbold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
  
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format('woff2'),
       url("../fonts/cuprumbolditalic.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}
  
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format('woff2'),
       url("../fonts/cuprumitalic.woff") format('woff');
  font-weight: normal;
  font-style: italic;
}
  
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format('woff2'),
       url("../fonts/ptsans.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format('woff2'),
       url("../fonts/ptsansbold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html { 
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 60px;
}

.header-top {
  min-height: 42px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.header-top .container {
  display: flex;
  flex-wrap: wrap;
}

.main-header-logo {
  position: relative;
  width: 220px;
  height: 42px;
  padding: 14px 56px 7px 55px;
  background-color: #ee3643;
  /* box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24); */
}

.main-header-logo:after {
  position: absolute;
  content: "";
  top: 42px;
  left: 0px;
  width: 220px;
  height: 5px;
  background-color: #ee3643;
  background-position: 0 0;
  background-repeat: no-repeat;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.order-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.header-button {
  display: block;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ffffff;
}

.header-button:hover,
.header-button:focus {
  background-color: #212a3a;
}

.header-button:active {
  background-color: #161d29;
  opacity: 0.6;
}

.bookmark-button {
  position: relative;
  padding-right: auto;
  padding-left: 45px;
}

.bookmark-button::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;  
}

.cart-button {
  position: relative;
  padding-right: auto;
  padding-left: 49px;
}

.cart-button::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmark-button:hover::before,
.bookmark-button:focus::before,
.cart-button:hover::before,
.cart-button:focus::before {
  opacity: 1;
}

.bookmark-button:active::before,
.cart-button:active::before {
  opacity: 0.5; 
}

.make-order-button {
  padding-right: 22px;
  padding-left: 20px;
  background-color: #63a63e;
}

.make-order-button:hover,
.make-order-button:focus {
  background-color: #5fbb2d;
}

.make-order-button:active {
  background-color: #518534;
  opacity: 0.5;
}

.header-bottom {
  background-color: #f4f7f9;
}

.header-bottom .container {
  display: flex;
  flex-wrap: wrap;
}

.site-title {
  width: 197px;
  margin-top: 49px;
  margin-right: 69px;
  margin-bottom: 40px;
  margin-left: 53px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contaсts {
  margin-top: 57px;
}

.phone-link {
  position: relative;
  padding-top: 8px;
  padding-right: 50px;
  padding-bottom: 8px;
  padding-left: 72px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  
}

.phone-link::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 13px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-position: 0 0;
  background-repeat: no-repeat; 
}

.adress {
  margin-top: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 46px;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.user-navigation button {
  border: none;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-button-auth {
  position: relative;
  margin-right: 10px;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 49px;
}

.user-button-auth::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-button-auth:hover::before,
.user-button-auth:focus::before {
  opacity: 1;
}

.user-button-auth:active::before {
  opacity: 0.3;
}

.user-button-registr {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 24px;
}

.user-navigation button:hover,
.user-navigation button:focus {
  color: #ee3643;
}

.user-navigation button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  width: 100%;
  margin-bottom: 60px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-right: 26px;
  padding-left: 25px;
  list-style: none;
}

.main-navigation-link {
  display: block;
  padding: 20px 30px 23px 30px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-navigation-link:hover,
.main-navigation-link:focus {
  background-color: #293449;
}

.main-navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.overal-catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.overal-catalog-item {
  width: 300px;
  margin-bottom: 20px;
}

.materials {
  background-color: #ffbf47;
}

.instrument {
  background-color: #3bbce3;
}

.technic {
  background-color: #dc91d8;
}

.discount {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.overall-catalog-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.overall-catalog-button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-top,
.brands-top {
  display: flex;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.headline {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog .headline,
.brands .headline {
  color: #32425c;
}

.main-button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}

.catalog-list,
.brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-weight: bold;
  list-style: none;
}

.catalog-item,
.brands-item {
  width: 220px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item-price-old {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
}

.catalog-item-price-current {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.service {
  background-color: #f4f7f9;
}

.service-text,
.company-text,
.contacts-text {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}

.main-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company {
  width: 520px;
}

.contacts {
  width: 300px;
}

.transport-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.main-footer {
  width: 100%;
  margin-top: 85px;
  background-color: #32425c;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 24px;
}

.main-footer-logo {
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 18px;
  padding-left: 41px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-top-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 38px;
  margin-left: 113px;
  padding: 0;
  list-style: none;
}

.footer-top-navigation-link {
  padding-left: 59px;
  color: #f1f5f7;
}

.footer-top-navigation-link:hover,
.footer-top-navigation-link:focus,
.footer-middle-navigation-link:hover,
.footer-middle-navigation-link:focus {
  text-decoration: underline;
}

.footer-top-navigation-link:active,
.footer-middle-navigation-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts {
  margin-top: 27px;
  margin-bottom: 50px;
  margin-left: 4px;  
  color: #f3f7f9;
}

.footer-middle-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 27px;
  margin-left: 33px;
  padding: 0;
  list-style: none;
}

.footer-middle-navigation-link {
  padding-left: 59px;
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  flex-wrap: wrap;
}

.footer-copyright {
  width: 228px;
  margin-top: 37px;
  margin-right: 160px;
  margin-left: 2px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0;
  margin-top: 35px;
  margin-right: 119px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.social-button:active {
  background-color: #ee3643;
}

.footer-info-feedback {
  width: 135px;
  margin-top: 37px;
  margin-right: 53px;
}

.footer-info-developed {
  width: 95px;
  margin-top: 37px;
  margin-right: 15px;
}

.footer-info-link {
  color: #ffd180;
}

.footer-info-link:hover,
.footer-info-link:focus {
  text-decoration: underline;
}

.footer-info-link:active {
  color: #ee3643;
  text-decoration: none;
}

.inner-main {
  font-family: "PT Sans";
}

.inner-page .cart-button {
  background-color: #ee3643;
}

.inner-page .header-contacts {
  margin-top: 58px;
}

.user-cabinet {  
  margin: 0;
  margin-top: 57px;
  margin-left: auto;
  padding: 0;
}

.user-cabinet-link {
  position: relative;
  padding-top: 10px;
  padding-right: 23px;
  padding-bottom: 11px;
  padding-left: 46px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-cabinet-link::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-cabinet-link:hover::before,
.user-cabinet-link:focus::before {
  opacity: 1;
}

.user-cabinet-link:active::before {
  opacity: 0.3;
}

.user-cabinet-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.logout-link {
  position: relative;
  width: 40px;
  padding-top: 11px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 20px;
  background-color: #ffffff;
}

.logout-link::before {
  position: absolute;
  content: "";
  top: 14px;
  left: 14px;
  width: 21px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.logout-link:hover::before,
.logout-link:focus::before {
  opacity: 1;
}

.logout-link:active::before {
  opacity: 0.3;
}

.cabinet-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-left: 18px;
  list-style: none;
}

.cabinet-info-orders {
  position: relative;
  margin-right: 32px;
}

.cabinet-info-orders::after {
  position: absolute;
  content: "";
  top: 11px;
  right: -20px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

.cabinet-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.cabinet-link:hover,
.cabinet-link:focus {
  color: #ee3643;
}

.cabinet-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.inner-page .main-header {
  margin-bottom: 17px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  top: 9px;
  right: -22px;
  width: 7px;
  height: 7px;
  border-top: 1px solid #c1c6ce;
  border-right: 1px solid #c1c6ce;
  transform: rotate(45deg);
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-link {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.page-title {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.inner-page .catalog {
  width: 700px;
}

.filters-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.filter-parameter {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-checkbox {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.power-supply-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter-radio {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.sort-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.perforator {
  background-color: #f4f7f9;
}

.perforator .headline {
  font-family: "Cuprum";
}

.perforator-text {
  font-size: 13px;
  line-height: 24px;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.feedback-desc {
  font-size: 18px;
  line-height: 18px;
}

.feedback-text {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
}

.message-text {
  font-size: 30px;
  line-height: 30px;
}

.message-choice {
  background-color: #f1f1f1;
}

.message-button-continue {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
}
