@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff2") format('woff2'),
         url("../fonts/cuprum.woff") format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format('woff2'),
       url("../fonts/cuprumbold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
  
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format('woff2'),
       url("../fonts/cuprumbolditalic.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}
  
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format('woff2'),
       url("../fonts/cuprumitalic.woff") format('woff');
  font-weight: normal;
  font-style: italic;
}
  
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format('woff2'),
       url("../fonts/ptsans.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format('woff2'),
       url("../fonts/ptsansbold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html { 
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 59px;
}

.header-top {
  min-height: 42px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.header-top .container {
  display: flex;
  flex-wrap: wrap;
}

.main-header-logo {
  position: relative;
  width: 220px;
  height: 42px;
  padding: 14px 56px 7px 55px;
  background-color: #ee3643;
}

.main-header-logo:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0px;
  width: 220px;
  height: 5px;
  background-color: #ee3643;
  background-position: 0 0;
  background-repeat: no-repeat;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-header-logo:hover,
.main-header-logo:focus {
  outline: none;
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.search-form {
  display: inline-block;
  position: relative;
  width: 270px;
  min-height: 42px;
  vertical-align: middle;
}

.search-form input {
  width: 270px;
  min-height: 42px;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 49px;
  border: none;
  outline: none;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.search-form input:hover {
  background-color: #212a3a;
}
 
.search-form input:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-form input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.search-form svg {
  position: absolute;
  content: "";
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  opacity: 0.3;
}

.search-text:hover + svg {
  opacity: 1;
}

.search-text:focus + svg path {
  fill: #ee3643;
}

.order-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.header-button {
  display: block;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ffffff;
}

.header-button:hover,
.header-button:focus {
  outline: none;
  background-color: #212a3a;
}

.header-button:active {
  background-color: #161d29;
  opacity: 0.6;
}

.bookmark-button {
  position: relative;
  padding-left: 45px;
}

.bookmark-button::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;  
}

.cart-button {
  position: relative;
  padding-left: 49px;
}

.cart-button::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmark-button:hover::before,
.bookmark-button:focus::before,
.cart-button:hover::before,
.cart-button:focus::before {
  opacity: 1;
}

.bookmark-button:active::before,
.cart-button:active::before {
  opacity: 0.5; 
}

.make-order-button {
  padding-right: 22px;
  padding-left: 20px;
  background-color: #63a63e;
}

.make-order-button:hover,
.make-order-button:focus {
  background-color: #5fbb2d;
}

.make-order-button:active {
  background-color: #518534;
  opacity: 0.5;
}

.header-bottom {
  background-color: #f4f7f9;
}

.header-bottom .container {
  display: flex;
  flex-wrap: wrap;
}

.site-title {
  width: 197px;
  margin-top: 49px;
  margin-right: 69px;
  margin-bottom: 40px;
  margin-left: 53px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contaсts {
  margin-top: 57px;
}

.phone-link {
  position: relative;
  padding-top: 8px;
  padding-right: 50px;
  padding-bottom: 8px;
  padding-left: 72px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.phone-link::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 13px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-position: 0 0;
  background-repeat: no-repeat; 
}

.adress {
  margin-top: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 57px;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.user-navigation a {
  border: none;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-button-auth {
  position: relative;
  margin-right: 10px;
  padding-top: 11px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 49px;
}

.user-button-auth::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-button-auth:hover::before,
.user-button-auth:focus::before {
  opacity: 1;
}

.user-button-auth:active::before {
  opacity: 0.3;
}

.user-button-registr {
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 24px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  outline: none;
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  width: 100%;
  margin-bottom: 60px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-right: 26px;
  padding-left: 25px;
  list-style: none;
}

.main-navigation-link {
  display: block;
  padding: 20px 30px 23px 30px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-navigation-link:hover,
.main-navigation-link:focus {
  outline: none;
  background-color: #293449;
}

.main-navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.overall-catalog-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
}

.overall-catalog-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 620px;
  margin: 0;
  padding: 0;
}

.overal-catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.overal-catalog-item {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 23px;
}

.materials {
  background-color: #ffbf47;
}

.materials::after {
  position: absolute;
  content: "";
  top: 31px;
  left: 213px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-materials.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.instrument {
  background-color: #3bbce3;
}

.instrument::after {
  position: absolute;
  content: "";
  top: 33px;
  left: 197px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-instrument.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.technic {
  background-color: #dc91d8;
}

.technic::after {
  position: absolute;
  content: "";
  top: 31px;
  left: 191px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-technic.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.discount {
  background-color: #8ed78f;
}

.discount::after {
  position: absolute;
  content: "";
  top: 26px;
  left: 196px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-discounts.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.delivery {
  background-color: #ffc047;
}

.delivery::after {
  position: absolute;
  content: "";
  top: 32px;
  left: 191px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-delivery.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.overall-catalog-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.overall-catalog-button {
  display: block;
  width: 135px;
  margin-top: 11px;
  padding-top: 12px;
  padding-bottom: 10px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.overall-catalog-left .overall-catalog-button {
  margin-left: 3px;
}

.overall-catalog-button:hover,
.overall-catalog-button:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.overall-catalog-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.top-slider,
.bottom-slider {
  position: relative;
}

.top-slider {
  width: 620px;
  height: 266px;
  background-color: #464646;
}

.top-slider-controls {
  position: absolute;
  left: 295px;
  bottom: 36px;
  width: 40px;
  height: 10px;
  font-size: 0;
  text-align: center;
  z-index: 2;
}

.top-slider-controls label {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

.top-slider-controls label::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 1;
}

#drill:checked ~ .top-slider-list .top-slider-item:nth-child(1) {
  display: block;
}

#perf:checked ~ .top-slider-list .top-slider-item:nth-child(2) {
  display: block;
}

#drill:checked ~ .top-slider-controls .top-slider-controls-item--1::before,
#perf:checked ~ .top-slider-controls .top-slider-controls-item--2::before {
  position: absolute;
  content: "";
  top: 50%; 
  left: 50%;
  width: 6px;
  height: 6px;
  margin: -3px;
  border-radius: 50%;
  background-color: #ee3643;
  z-index: 3;
}

.btn-slide {
  position: absolute;
  content: "";
  top: 113px;
  width: 22px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-slide:focus,
.btn-slide:active {
  outline: none;
}

.prev-slide {
  left: 25px;
  background-image: url("../img/icon-left.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.next-slide {
  right: 20px;
  background-image: url("../img/icon-right.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.top-slider-list,
.bottom-slider-list {
  margin: 0;
  padding: 0;  
  list-style: none;
}

.top-slider-item {
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 25px;
}

.top-slider-item,
.bottom-slider-item {
  display: none;
}

.top-slider-item:nth-child(1) {
  background-image: url("../img/slide-drill.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.top-slider-item:nth-child(2) {
  background-image: url("../img/slide-perf.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.top-slider-title {
  margin: 0;
  margin-bottom: 2px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.top-slider-text {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 121px;
}

.top-slider-button {
  width: 195px;
  padding-left: 3px;
}

.main-button {
  display: block;
  padding-top: 11px;
  padding-bottom: 9px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
}

.main-button:hover,
.main-button:focus {
  outline: none;
  background-color: #ca2c37;
}

.main-button:active {
  background-color: #ba2732;
}

.catalog-top,
.brands-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-right: 24px;
  padding-bottom: 4px;
  padding-left: 28px;
  background-color: #f9f5f0;
}

.headline {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.popular-button,
.brands-button {
  width: 253px;
  margin-top: -1px;
}

.catalog .headline,
.brands .headline {
  color: #32425c;
}

.catalog-list,
.brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  list-style: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 220px;
  margin-bottom: 20px;
  padding-bottom: 3px;
  border: 1px solid #eaeaea;
}

.catalog-item:hover,
.catalog-item:focus {
  outline: none;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.flag {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag {
  top: -1px;
  right: -1px;
}

.flag-new {
  background-image: url("../img/new-flag.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.catalog-item .actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 170px;
  padding: 43px 0;
  text-align: center;
  background-color: #ffffff;
  z-index: 10;
}

.catalog-item:hover .actions,
.catalog-item:focus .actions {
  outline: none;
  display: block;
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 8px;
  border-radius: 3px;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #63a63e;
}

.actions .buy {
  position: relative;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 3px;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.actions .buy::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 14px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.actions .buy:hover::before,
.actions .buy:focus::before {
  opacity: 1;
}

.actions .buy:hover,
.actions .buy:focus {
  outline: none;
  background-color: #5fbb2d;
}

.actions .buy:active {
  background-color: #518534;
  box-shadow: none;
}

.actions .bookmark {
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 3px;
  border: 3px solid #63a63e;
  color: #32425c;
  background: #ffffff;
}

.actions .bookmark:hover,
.actions .bookmark:focus {
  outline: none;
  border-color: #32425c;
}

.actions .bookmark:active {
  opacity: 0.3;
}

.catalog-item-title {
  margin-top: 9px;
  margin-bottom: auto;
  padding: 0 25px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}

.catalog-item-price-old {
  margin-top: 11px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-align: center;
}

.catalog-item-price-current {
  position: relative;
  width: 141px;
  margin-top: auto;
  margin-left: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  border-radius: 3px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-item-price-current:after {
  position: absolute;
  content: "";
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog {
  margin-bottom: 1px;
}

.brands-item {
  width: 220px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.brands-item:hover,
.brands-item:focus {
  outline: none;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-item:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.bosch {
  padding: 52px 46px 49px 46px;
}

.makita {
  padding: 49px 48px 49px 47px;
}

.dewalt {
  padding: 47px 36px 47px 36px;
}

.interskol {
  padding: 20px 10px 30px 8px;
}

.hitachi {
  padding: 57px 22px 50px 27px;
}

.lg {
  padding: 34px 50px 31px 47px;
}

.aeg {
  padding: 22px 33px 20px 34px;
}

.metabo {
  padding: 33px 5px 36px 9px;
}

.brands-list {
  margin-bottom: 65px;
}

.service {
  padding-top: 41px;
  background-color: #f4f7f9;
  margin-bottom: 54px;
}

.service-text,
.company-text,
.contacts-text {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service-text {
  width: 400px;
  padding-top: 1px;
  padding-left: 1px;
}

.bottom-slider {
  width: 940px;
  height: 353px;
}

.bottom-slider-controls {
  position: absolute;
  top: 68px;
  left: 0px;
  width: 240px;
  margin: 0px;
  padding: 0px;
  background-color: #32425c;
}

.bottom-slider-controls label {
  display: block;
  width: 240px;
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 23px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  cursor: pointer;
}

.bottom-slider-controls label:hover {
  background-color: #293449;
}

#delivery:checked ~ .bottom-slider-list .bottom-slider-item:nth-child(1) {
  display: block;
}

#guarantee:checked ~ .bottom-slider-list .bottom-slider-item:nth-child(2) {
  display: block;
}

#credit:checked ~ .bottom-slider-list .bottom-slider-item:nth-child(3) {
  display: block;
}

#delivery:checked ~ .bottom-slider-controls label[for="delivery"],
#guarantee:checked ~ .bottom-slider-controls label[for="guarantee"],
#credit:checked ~ .bottom-slider-controls label[for="credit"] {
  background-color: #ffffff;
  color: #32425c;
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}

.controls-shadow::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 10px;
  height: 279px;
  margin-top: -136px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
}

.bottom-slider-item {
  padding-top: 67px;
  padding-bottom: 129px;
  padding-left: 321px;
}

.bottom-slider-item:nth-child(1) {
  background-image: url("../img/delivery.png");
  background-position: 471px 92px;
  background-repeat: no-repeat;
}

.bottom-slider-item:nth-child(2) {
  background-image: url("../img/guarantee.png");
  background-position: 558px 69px;
  background-repeat: no-repeat;
}

.bottom-slider-item:nth-child(3) {
  background-image: url("../img/credit.png");
  background-position: 485px 68px;
  background-repeat: no-repeat;
}

.bottom-slider-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.bottom-slider-text {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.bottom-slider-item:nth-child(1) .bottom-slider-text {
  width: 275px;
}

.bottom-slider-item:nth-child(2) .bottom-slider-text {
  width: 377px;
}

.bottom-slider-item:nth-child(3) .bottom-slider-text {
  width: 279px;
}

.bottom-slider-button {
  width: 195px;
  margin-top: 25px;
}

.main-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company {
  width: 520px;
}

.company .headline,
.contacts .headline {
  margin-bottom: 26px;
}

.company-text {
  margin-bottom: 24px;
}

.company-text-delivery {
  margin-bottom: 21px;
}

.transport-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.transport-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 36px;
}

.transport-item::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.company-button {
  width: 220px;
  margin-top: 36px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 1px;
}

.contacts {
  width: 300px;
}

.contacts-text {
  width: 179px;
  margin-bottom: 31px;
}

.contacts-button {
  margin-top: 35px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 5px;
}

.main-footer {
  width: 100%;
  margin-top: 86px;
  background-color: #32425c;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 24px;
}

.main-footer-logo {
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 18px;
  padding-left: 41px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-top-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 38px;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.footer-top-navigation-link {
  padding-left: 59px;
  color: #f1f5f7;
}

.footer-top-navigation-link:hover,
.footer-top-navigation-link:focus,
.footer-middle-navigation-link:hover,
.footer-middle-navigation-link:focus {
  outline: none;
  text-decoration: underline;
}

.footer-top-navigation-link:active,
.footer-middle-navigation-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts {
  margin-top: 28px;
  margin-bottom: 49px;
  margin-left: 4px;  
  color: #f3f7f9;
}

.footer-middle-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 28px;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.footer-middle-navigation-link {
  padding-left: 59px;
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  flex-wrap: wrap;
}

.footer-copyright {
  width: 228px;
  margin-top: 37px;
  margin-right: 160px;
  margin-left: 2px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0;
  margin-top: 35px;
  margin-right: 119px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  outline: none;
  background-color: #ee3643;
}

.social-button:active {
  background-color: #ee3643;
}

.footer-info-feedback {
  width: 135px;
  margin-top: 37px;
  margin-right: 53px;
}

.footer-info-developed {
  width: 95px;
  margin-top: 37px;
  margin-right: 15px;
}

.footer-info-link {
  color: #ffd180;
}

.footer-info-link:hover,
.footer-info-link:focus {
  outline: none;
  text-decoration: underline;
}

.footer-info-link:active {
  color: #ee3643;
  text-decoration: none;
}

.inner-main {
  font-family: "PT Sans", sans-serif;
}

.inner-page .cart-button {
  background-color: #ee3643;
}

.inner-page .header-contacts {
  margin-top: 58px;
}

.user-cabinet {  
  margin: 0;
  margin-top: 57px;
  margin-left: auto;
  padding: 0;
}

.user-cabinet-link {
  position: relative;
  padding-top: 10px;
  padding-right: 23px;
  padding-bottom: 11px;
  padding-left: 46px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-cabinet-link::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-cabinet-link:hover::before,
.user-cabinet-link:focus::before {
  outline: none;
  opacity: 1;
}

.user-cabinet-link:active::before {
  opacity: 0.3;
}

.user-cabinet-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.logout-link {
  position: relative;
  width: 40px;
  padding-top: 11px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 20px;
  background-color: #ffffff;
}

.logout-link::before {
  position: absolute;
  content: "";
  top: 14px;
  left: 14px;
  width: 21px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.logout-link:hover::before,
.logout-link:focus::before {
  outline: none;
  opacity: 1;
}

.logout-link:active::before {
  opacity: 0.3;
}

.cabinet-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-left: 18px;
  list-style: none;
}

.cabinet-info-orders {
  position: relative;
  margin-right: 32px;
}

.cabinet-info-orders::after {
  position: absolute;
  content: "";
  top: 11px;
  right: -20px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

.cabinet-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.cabinet-link:hover,
.cabinet-link:focus {
  outline: none;
  color: #ee3643;
}

.cabinet-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.inner-page .main-header {
  margin-bottom: 17px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  top: 9px;
  right: -22px;
  width: 7px;
  height: 7px;
  border-top: 1px solid #c1c6ce;
  border-right: 1px solid #c1c6ce;
  transform: rotate(45deg);
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-link {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 28px;
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.filters {
  width: 220px;
}

.inner-page .catalog {
  width: 700px;
}

.filter-group {  
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}

.filter-group::after {
  position: absolute;
  content: "";
  bottom: -23px;
  left: 0;
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.last-group::after {
  height: 0;
}

.filters-title,
.sort-title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filters-title {
  margin-bottom: 11px;
}

.filter-parameter {
  margin-bottom: 14px;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.range-filter {
  width: 220px;
  padding-bottom: 2px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  padding: 0px 20px;
  border-radius: 4px;
  background-color: #f7f3ec;
  overflow: hidden;
}

.scale {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}

.bar {
  width: 140px;
  height: 2px;
  background-color: #00ca74;
}
 
.range-controls .toggle {
  position: absolute;
  content: "";
  top: 30px;
  width: 20px;
  height: 22px;
  background-image: url("../img/filter-button.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.min-toggle {
  left: 20px;
}

.max-toggle {
  left: 160px;
}

.price-controls {
  font-size: 0px;
}

.price-controls input {
  width: 95px;
  padding-top: 9px;
  padding-right: 18px;
  padding-bottom: 11px;
  padding-left: 20px;
  border: none;
  border-radius: 3px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
}

.price-controls input:focus {
  outline: none;
}

.price-controls .price-sep {
  display: inline-block;
  width: 30px;
  margin: 0px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.filter-list,
.power-supply-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-item,
.power-supply-item {
  margin-bottom: 20px;
  padding-left: 34px;
}

.filter-item:last-child,
.power-supply-item:last-child {
  margin-bottom: 0;
}

.filter-checkbox,
.filter-radio {
  display: block;
  position: relative;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-brand + .filter-checkbox::before {
  position: absolute;
  content: "";
  top: -1px;
  left: -34px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.23;
}

.filter-brand:checked + .filter-checkbox::before {
  position: absolute;
  content: "";
  top: -1px;
  left: -34px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.23;
}

.filter-click + .filter-radio::before {
  position: absolute;
  content: "";
  top: -3px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.23;
}

.filter-click:checked + .filter-radio::before {
  position: absolute;
  content: "";
  top: -3px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.23;
}

.filter-brand + .filter-checkbox:hover::before,
.filter-brand + .filter-checkbox:focus::before,
.filter-brand:checked + .filter-checkbox:hover::before,
.filter-brand:checked + .filter-checkbox:focus::before,
.filter-click + .filter-radio:hover::before,
.filter-click + .filter-radio:focus::before,
.filter-click:checked + .filter-radio:hover::before,
.filter-click:checked + .filter-radio:focus::before {
  opacity: 0.29;
}

.filter-brand:disabled + .filter-checkbox,
.filter-click:disabled + .filter-radio {
  opacity: 0.4;
  cursor: default;
}

.filter-brand:disabled + .filter-checkbox::before,
.filter-click:disabled + .filter-radio::before {
  opacity: 0.3;
  cursor: default;
}

.filter-button {
  margin-top: 38px;
  padding-top: 11px;
  padding-right: 39px;
  padding-bottom: 7px;
  padding-left: 38px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.sort {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.sort-parameter {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-left: 140px;
  list-style: none;
}

.sort-parameter-item:nth-child(2) {
  padding-left: 71px;
}

.sort-parameter-item:nth-child(3) {
  padding-left: 65px;
}

.sort-parameter-item:nth-child(4) {
  padding-left: 47px;
}

.sort-parameter-item:nth-child(5) {
  padding-left: 19px;
}

.sort-parameter-link {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
  text-transform: uppercase;
  vertical-align: baseline;
}

.sort-parameter-link:hover,
.sort-parameter-link:focus {
  outline: none;
  color: rgba(0, 0, 0, 1);
  text-decoration-style: solid;
}

.sort-parameter-link:active {
  color: #ee3643;
  text-decoration: none;
}

.arrow-up,
.arrow-down {
  font-size: 0;
}

.arrow-up::before,
.arrow-down::before {
  display: inline-block;
  content: "";
  border: 11px solid #000000;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
  vertical-align: baseline;
  opacity: 0.3;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.arrow-up:hover::before,
.arrow-up:focus::before,
.arrow-down:hover::before,
.arrow-down:focus::before {
  outline: none;
  opacity: 1;
}

.arrow-up:active::before {
  border-bottom-color: #ee3643;
}

.arrow-down:active::before {
  border-top-color: #ee3643;
}

.inner-page .catalog-item {
  margin-right: 20px;
}

.inner-page .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: block;
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-left: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.pagination-link:hover,
.pagination-link:focus{
  outline: none;
  border: 1px solid #bdc6ca;
}

.pagination-link:active {
  border: 1px solid #ee3643;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item:last-child a {
  padding-right: 31px;
  padding-left: 31px;
}

.pagination-item-current a {
  border-color: transparent;
  color: #ffffff;
  background-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border-color: transparent;
}

.perforator {
  width: 100%;
  padding-top: 34px;
  padding-bottom: 54px;
  padding-left: 1px;
  background-color: #f4f7f9;
}

.perforator .headline {
  margin-bottom: 27px;
  font-family: "Cuprum", sans-serif;
}

.perforator-text {
  font-size: 13px;
  line-height: 24px;
}

.inner-page .main-footer {
  margin-top: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  display: none;
  position: fixed;
  background-color: #ffffff;
  z-index: 30;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-map {
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446.2px;
  margin-top: -223.1px;
  margin-left: -470px;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.75);
}

.modal-map img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 4;
}

.modal-map iframe {
  position: relative;
  border: none;
  z-index: 5;
}


.modal-feedback,
.modal-message {
  top: 211px;
  left: 50%;
  width: 620px;
  margin-left: -310px;
  border-top: 7px solid #ee3643;
}

.modal-feedback {
  padding-top: 23px;
  padding-right: 80px;
  padding-left: 80px;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 11px;
  width: 21px;
  height: 21px;
  border: 0;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 6;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 4px;
  top: 8px;
  left: 0px;
  border-radius: 2px;
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback-desc {
  padding-left: 1px;
  font-size: 18px;
  line-height: 18px;
}

.feedback-text {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.feedback-item {
  margin-bottom: -4px;
}

.feedback-item input[type="text"],
.feedback-item input[type="email"] {
  width: 220px;
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.feedback-item textarea {
  width: 460px;
  margin-top: 9px;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 14px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  border-color: #b5b5b5;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  border-color: #ee3643;
  outline: none;
}

.modal-feedback .modal-bottom {
  width: 100%;
  margin-top: 37px;
  background-color: #f4f4f4;
}

.modal-feedback .modal-bottom::before,
.modal-feedback .modal-bottom::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 112px;
  bottom: 0;
  background-color: #f4f4f4;
}

.modal-feedback .modal-bottom::before {
  left: 0;
}

.modal-feedback .modal-bottom::after {
  right: 0;
}

.feedback-button {
  width: 460px;
  margin-top: 37px;
  margin-bottom: 37px;
}

.modal-message {
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.message-text {
  padding-top: 35px;
  padding-bottom: 38px;
  padding-left: 181px;
  font-size: 30px;
  line-height: 30px;
}

.modal-message::before {
  position: absolute;
  content: "";
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/modal-check.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.modal-message .modal-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 37px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;
  background-color: #f1f1f1;
}

.message-button-order {
  width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.message-button-continue {
  width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  cursor: pointer;
}
